# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.log
*.env
*.yaml
internal/middleware/Middleware.go
internal/repositories/AuthRepository.go
internal/services/AuthService.go
internal/controllers/Auth/AuthController.go
internal/controllers/Auth/RefreshController.go